.comic-card {
    margin-bottom: 15px;
    margin-right: 10px;
    flex-basis: 24%;
    /* max-width: 300px; */
    height: 400px;
    background-color: black;
    box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.75);
}

.comic-cover {
    height: 50%;
    width: 100%;
    background-color: aquamarine;
    overflow: hidden;
    position: relative;
}

.comic-cover::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(4deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
}

.comic-cover img {
    max-width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.comic-metadata {
    color: #666666;
    height: 50%;
    padding: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.comic-metadata .name {
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

.comic-metadata span {
    color: white;
    letter-spacing: 1.5px;
    margin-left: 10px;
}

@media (max-width: 1075px) {
    .comic-card {
        flex-basis: 32%
    }
}

@media (max-width: 885px) {

    .comic-card {
        margin-right: 5px;
        flex-basis: 49%;
        max-width: 400px;
    }
}

@media (max-width: 672px) {
    .comic-card {
        margin-right: 0px;
        flex-basis: 100%;
    }
}