.container {
    position: relative;
    margin: 30px 50px;
}
.comic-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

@media (max-width: 672px) {
    .comic-content {
        justify-content: center;
    }
}