


.container {}

.search-bar {
    background-color: #e1b12c;
    background-image: url("https://thumbs.dreamstime.com/b/open-comic-book-pages-heroes-close-up-background-marvel-dc-comics-high-quality-photo-188517430.jpg");
    height: 90px;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.search-bar::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(4deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0.6) 100%);
}

.search-bar h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    z-index: 3333;
}

.search-form {
    width: 350px;
    height: 50px;
    padding: 0 30px;
    border: none;
    background-color: #000;
    color: white;
    z-index: 3333;
    opacity: .7;
}

@media (max-width : 895px) {
    .search-form {
        width: 250px;
    }
}

@media (max-width : 785px) {
    .search-form {
        width: 200px;
    }
}

.search-form:hover,
:focus,
:active {
    border: none;
    outline: none;
}

::placeholder {
    color: #fff;
}

.comicInput {
    font-weight: lighter;
    background-color: #000;
    color: #fff;
    border: 0;
    height: 50px;
    padding: 0 30px;
    /* z-index: 3333; */
    opacity: .7;
}

.comicInput:hover,
.comicInput:active,
.comicInput:focus {
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 1.0;
    transition: all ease .3s;
}