/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* body {
    background-color: #131313;
    font-family: 'Marvel', sans-serif;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #131313;*/
    font-family: 'Marvel', sans-serif;
}